<!doctype html>
<html lang="en">
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="refresh" content=1>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>Working...</title>
</head>
<body>
<div class="container">
    <h3>Progress</h3>
    {{progress}}% complete<br>
    <h3>Messages</h3>
    Here is the output from the app.
    <pre class=".pre-scrollable">
        {% for item in messages %}
            {{ item }}
        {% endfor %}
    </pre>

</div>
</body>

</html>
